spring.datasource.url=jdbc:postgresql://dpg-d9h0d1mrnols73eskn8g-a:5432/crm_db_wymu
spring.datasource.username=crm_db_wymu_user
spring.datasource.password=q3dD3SXqTKU5IPVrZcZHgOptUkNJTMjt
JWT_SECRET=super-secret-jwt-key-change-in-production-min-64-chars-long
PORT=4200